*{
	box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #f7fff8, #d4dedc, #b7bcbe, #9b9c9e, #7e7e7e);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:right top;
    background-size: cover;
    background-size: 100%;
}
#main_wrapper{
/*    top right bottom left */
    margin:6% 10% 2% 10%;  
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 10px 40px black ;  
}
.card-body{
    height: 700px;
    overflow-y: scroll;
    padding: 0% 1% 0% 1%;
}
#titre-table{
    font-size: 22px;    
}
#boutonMenu{
    text-decoration: none;
    color: black;
}


#SoldeNegatif{
    color: #af0606;
    font-weight: 700; 
}
#SoldePositif{
    color:green;
    font-weight: 700; 
}

h1{
    font-size:  28px;
     padding: 2% 0% 0% 0%;
     margin-bottom: 2%;
     font-weight: 800; 
}
h2{
    font-size:  28px;
    float:  right;
    position: relative;
    bottom: 7%;
    font-weight: 800;

}
h3{
    font-size:  20px;
     padding: 2% 0% 0% 0%;
     border-top-style:  solid;
   border-top-color: black;
   border-top-width: 3px;
}

#fixe{
    background-color : rgba( 134, 224, 195, 0.8 );

    margin: 0% 80% 2% 10%;  
    text-align: center;
    padding: 0.5%;
    font-weight: 700;
}
#bouton{
float:  right;
margin-top: 3%;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
img {
        height: 40px;
}

@media screen and (max-width: 900px){
   #main_wrapper{
    margin: 6% 1% 2% 1%;
} 
    
h1{
  font-size: 25px;
  margin-top: 1%;
  margin-left: 1%;
  font-weight: 750;
  margin-bottom: 4%;
}
    
h2{
 font-size: 25px;
  text-align:center; 
  margin-right: 3%;
  bottom: 7%;
  font-weight: 750;
}
h3{
      font-size: 25px;
}
#titre-table{
    font-size: 18px;    
}
 
th{
      font-size: 18px;
        font-weight: 650;
}
td{
      font-size: 16px;
}}
.card-body{
    height: 500px;
}

@media screen and (max-width: 400px){

i{
    display: none;
}
h1{
  font-size: 20px;
  margin-top: 1%;
  margin-left: 1%;
  font-weight: 750;
  margin-bottom: 4%;
}
    
h2{
display: none;
}
h3{
 font-size: 20px;
}
#titre-table{
    font-size: 16px;    
}
 
th{
      font-size: 16px;
        font-weight: 650;
}
td{
      font-size: 16px;
}
}


@media screen and (max-width: 608px){
   body{
    background-image:none;
    background-color:#9b9c9e;
}
    #main_wrapper{
    margin: 10% 1% 2% 1%;
} 
i{
    display: none;
}}

